<CodeSlide
  size={6}
  lang="js"
  code={require("raw-loader!../assets/examples/imperative1.example")}
  ranges={[
    { loc: [0, 1], title: "Imperative way" },
    { loc: [0, 2], title: "Init result variable" },
    { loc: [0, 3], title: "Loop our array" },
    { loc: [0, 4], title: "Push every item * 2" },
    { loc: [0, 6], title: "Return result" },
    { loc: [4, 7], image: 'http://vignette4.wikia.nocookie.net/monsterlegends/images/8/83/Obama-not-bad-l.png/revision/latest?cb=20160221181532&path-prefix=es' },
  ]}
/>