const Enhance = WrappedComponent => class extends React.Component {
  constructor(props) {
    super(props);
  }
  componentWillEnter(cb) {
    this.refs.slide.componentWillEnter(cb)
  }
  componentWillAppear(cb) {
    this.refs.slide.componentWillAppear(cb)
  }
  componentWillLeave(cb) {
    this.refs.slide.componentWillLeave(cb)
  }
  render() {
    const {...rest} = this.props;
    return (
      <Slide
        {...rest}
        ref='slide'
        bgColor="secondary"
        textColor="primary"
      >
        <WrappedComponent {...this.props} />
      </Slide>
    );
  }
};

const QuoteSlide = (props) => (
  <div>
    <BlockQuote>
      <Quote textSize="1.5em">{props.quote}</Quote>
      <Cite>{props.cite}</Cite>
    </BlockQuote>
  </div>
);