const user = {
  photo: images.avatar,
  name: 'Yeray Medina López',
  company: '@BBVA Paas Studio',
  social: [
    {
      name: 'github',
      link: 'https://github.com/ymedlop',
      photo: images.github
    },
    {
      name: 'linkdin',
      link: 'https://www.linkedin.com/in/ymedlop',
      photo: images.linkedin
    },
  ]
};

const UserSlide = props => <UserInfo user={props.user} />;

<UserSlide user={user} />